.Rhyme {
  margin-top:10%;
  text-align:center;

  color:white;

  h1 {
    font-size: 100px;
    letter-spacing:1px;
    font-family:'Italianno';
    text-shadow: 2px 2px 16px rgba(0,0,0,0.8);
  }

  p {
    font-size: 74px;
    font-family:'Italianno'
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);

    @media all and (min-width: 620px) and (max-width:850px) {
      font-size: 44px;
    }

    @media all and (min-width: 0px) and (max-width:620px) {
      font-size: 31px;
    }
  }


  .box {

    font-family: 'Dosis', sans-serif;

    font-weight: 400;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-top:20px;

    width:200px;
    height:200px;
    font-size: 40px;
    line-height:210px;

    @media all and (min-width: 0px) and (max-width:850px) {
      margin-top:10px;
      width:120px;
      height:120px;
      line-height:130px;
      font-size: 30px;
    }

    transform: scale(0.7);

    transition: transform 0.1s;
    &:hover {
      transform: scale(0.9);
    }

    display: inline-block;

    background-image: url('./../images/next.png');
    background-size: cover;

    text-decoration:none;

    &:active {
      text-decoration:none;
    }

  }

  .playagain {

    font-size: 30px;

    @media all and (min-width: 0px) and (max-width:850px) {
      font-size: 19px;
    }
  }

}


