.Rhyme {
  margin-top:10%;
  text-align:center;

  color:white;

  h1 {
    font-size: 100px;
    font-family:'Italianno';
    text-shadow: 2px 2px 16px rgba(0,0,0,0.8);
  }

  p {
    font-size: 64px;
    font-family:'Italianno'
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
  }

  button {
    border:none;
    background: none;
    font-size:30px;
    color:white;
  }

  .box {
    background: white;
    padding:20px;
    padding-bottom:-10px;
    line-height:30px;
  }

  .next {
    display: inline-block;
    margin-top:20px;

    background:rgba(0,0,0,0);

    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing:1px;
    //text-shadow: 2px 2px 8px rgba(0,0,0,0.8);

    width:200px;
    height:200px;
    background-image: url('./../images/next.png');
    background-size: cover;
    line-height:170px;
    text-decoration:none;

    &:active {
      text-decoration:none;
    }

    transition: transform 0.1s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .playagain {

    color: #b81b1b;
    font-size: 64px;
    font-family:'Italianno'
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
  }
}


