.Rhyme {
  margin-top:10%;
  text-align:center;

  color:white;

  h1 {
    font-size: 100px;
    font-family:'Italianno';
    text-shadow: 2px 2px 16px rgba(0,0,0,0.8);
  }

  p {
    font-size: 64px;
    font-family:'Italianno'
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
  }

  button {
    border:none;
    background: none;
    font-size:30px;
    color:white;
  }

  .box {
    background: white;
    padding:20px;
    padding-bottom:-10px;
    line-height:30px;
  }

  .next {
    color: #b81b1b;
    font-size: 30px;
    font-family:'verdana'
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
  }

  .playagain {

    color: #b81b1b;
    font-size: 64px;
    font-family:'Italianno'
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
  }
}


