<div class="Rhyme u-fullParent" >
  <div class="u-table u-fullParent">
    <div class="u-table-cell--middle">
      <ul class="Rhyme-quotes js-quotes">
        <li class="js-quote-1">
          <p>In christmas time, in this place up north<br>
          winter is coming, and people look forth</p>
        </li>
        <li class="inactive js-quote-2" >
          <p>They gather around to see<br>
          The giant guardian of the yule tree
        </p>
        </li>
        <li class="inactive js-quote-3">
          <p>Because every year in this town<br>
          They build it up, then vandals burn it down
          </p>
        </li>
        <li class="inactive js-quote-4">
          <p>Goats made of straw is easy to ignite.<br>
          They break the law, but look on the bright...
        </p>
        </li>
        <li class="inactive js-quote-5">
          <p>...side of life, because this pyre, <br>
          puts the town on the map and business on fire.
        </p>
        </li>
        <li class="inactive js-quote-6">
          <p>It's now everywhere, in simulators and as decoration<br>
          But Christmas means more in our nation
        </p>
        </li>
        <li class="inactive js-quote-7">
          <p>We also love meatballs, herring, schnaps and then,<br>
          not to mention Donald Duck at 15 pm!
        </p>
        </li>
        <li class="inactive js-quote-8"><h1>Merry Christmas from Sweden!</h1></li>
      </ul>

      <a href="#" v-on="click: next" class="next box js-next">Start</a>
      <a href="#" v-on="click: playAgain" class="next box js-playagain playagain inactive">Play again</a>
  </div>
</div>

