/* Utils
  ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import "../node_modules/nk-css-reset/index.css";
@import "../node_modules/nk-css-utils/index.css";
@import "../node_modules/stylus-easing/index.styl";

/* Base
  ========================================================================== */

body {
  overflow: hidden;
}

.App {
}


.inactive {
  display: none !important;
  visibility: hidden !important;
}

canvas {
  overflow:hidden;
}

/* Components
  ========================================================================== */
@import "components/*";
