/* Utils
  ========================================================================== */

@import "../node_modules/nk-css-reset/index.css";
@import "../node_modules/nk-css-utils/index.css";
@import "../node_modules/stylus-easing/index.styl";

/* Base
  ========================================================================== */

body {

}

.App {
}

.grab {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: url('http://s3.amazonaws.com/urbanjungle/images/openhand.cur'), move;
}

.grabbing {
  cursor: grab;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: url('http://s3.amazonaws.com/urbanjungle/images/closedhand.cur'), move;
}

/* Components
  ========================================================================== */
@import "components/*";
